
@{
    ViewBag.Title = "Contacto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Contacto";
}

<div class="page-head_agile_info_w3l">
    <div class="container">
        <h3>C<span>ontactanos </span></h3>
        <div class="services-breadcrumb">
            <div class="agile_inner_breadcrumb">

                <ul class="w3_short">
                    <li><a href="/Home/Index" id="IndexHomeClic">Inicio</a><i>|</i></li>
                    <li>Contacto</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<span id="HomeContactoClic"></span>
<div class="contact-w3-agile1 map" data-aos="flip-right">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d989.6842659079176!2d-78.51004407079961!3d-7.156368469019531!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91b25afb3250f085%3A0x5b3dfc3e6b2303a3!2sMariano+Melgar+208%2C+Cajamarca+06002!5e0!3m2!1ses!2spe!4v1558404897618!5m2!1ses!2spe" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<div class="banner_bottom_agile_info">
    <div class="container">
        <div class="agile-contact-grids">
            <div class="agile-contact-left">
                <div class="col-md-6 address-grid">
                    <h4>Para mayor <span>informacion</span></h4>
                    <div class="mail-agileits-w3layouts">
                        <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                        <div class="contact-right">
                            <p>Celular </p><span>983265964</span><br />
                            <span>947550099</span>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="mail-agileits-w3layouts">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        <div class="contact-right">
                            <p>Email </p><a href="mailto:contacto.tresb.peru@gmail.com">contacto.tresb.peru@gmail.com</a>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="mail-agileits-w3layouts">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <div class="contact-right">
                            <p>Ubicación</p><span>Mariano Melgar #208 - La Colmena Baja</span><br />
                            <span>Cajamarca, Perú.</span>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="col-md-6 contact-form">
                    <h4 class="white-w3ls">Formulario De <span>Contacto</span></h4>
                    <form action="#" method="post">
                        <div class="styled-input agile-styled-input-top">
                            <input type="text" id="NombreClic" name="Name" required="">
                            <label>Nombre</label>
                            <span></span>
                        </div>
                        <div class="styled-input">
                            <input type="email" id="EmailClic" name="Email" required="">
                            <label>Email</label>
                            <span></span>
                        </div>
                        <div class="styled-input">
                            <input type="text" id="AsuntoClic" name="Subject" required="">
                            <label>Asunto</label>
                            <span></span>
                        </div>
                        <div class="styled-input">
                            <textarea name="Message" id="MensajeClic" required=""></textarea>
                            <label>Mensaje</label>
                            <span></span>
                        </div>
                        <input type="submit" id="EnviarContactoClic" value="Enviar">
                    </form>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>



